<div class="row" style="height: 100vh;">
    <div class="col-md-12 text-center bg-dark">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div style="width: 40%; margin-left:30%; margin-right:30%;margin-top: 10%;">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Connexion</h4>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="loginForm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                              <input [formControlName]="'username'" matInput placeholder="Username" type="text">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                          <mat-form-field class="example-full-width" appearance="fill">
                                            <input [formControlName]="'password'" matInput placeholder="password" type="password">
                                          </mat-form-field>
                                        </div>
                                    </div>
                                    <button mat-raised-button type="submit" class="btn btn-info pull-center" (click)="login()">Connexion</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>        
    </div>
</div>